<%- include('partials/_header.ejs') %>

    <div class="main-container">
    <div class="content-flex">
        <div class="content">
            <h1 class="next-space-launch-header" style="text-align: center;color: whitesmoke;margin: 10px 0 20px 0;">All Launches</h1>
            <% for(let i=0; i<launch.length; i++){ %> 
                <div class="common next-space-launch launch-page">
                    <div class="launch-info">
                        <div class="next-one"></div>
                        <div class="flex-part">
                            <div class="title-part">
                                <h2 style="margin-top: 40px;"><%= launch[i].name %></h2>
                            </div>
                            <% if(launch[i].status === 'GO'){ %> 
                                <div class="launch-status">
                                    <h3><%= launch[i].status %></h3>
                                </div>
                                <% }else if(launch[i].status === 'TBC'){ %>
                                <div class="launch-status" style="background-color: rgb(184, 184, 53);">
                                    <h3><%= launch[i].status %></h3> 
                                </div>
                                <% } %> 
                            <div class="countdown">
                                <div class="t"><h1>T-</h1></div>
                                <div class="dayPart x">
                                    <h1 id="<%= launch[i].slug %>" class="day">00</h1>
                                    <p>Days</p>
                                </div>
                                <div class="hourPart x">
                                    <h1 id="<%= launch[i].slug %>-<% launch[i].slug %>" class="hour">00</h1>
                                    <p>Hours</p>
                                </div>
                                <div class="minutePart x">
                                    <h1 id="<%= launch[i].secondSlug %>" class="minute">00</h1>
                                    <p>Minutes</p>
                                </div>
                                <div class="secondPart x">
                                    <h1 id="<%= launch[i].secondSlug %>-<%= launch[i].secondSlug %>" class="second">00</h1>
                                    <p>Seconds</p>
                                </div>
                            </div>
                            <div class="date"><%= launch[i].date %></div>
                            <div class="watch-moreinfo-share">
                                <div class="watch-info-share">
                                    <div class="watch"><a href="<%= launch[i].info %>">Watch</a></div>
                                    <div class="more-info"><a href="/launches/<%= launch[i].slug %>">More Info</a></div>
                                    <div><a href="<%= launch[i].info %>">Share</a></div>
                                </div>  
                            </div>
                        </div>
                    </div>
                    <script>
                        setInterval(() => {
                            let launchDate = new Date("<%= launch[i].date %>");
                            let now = new Date();
                            let diff = launchDate - now;
                            let days = Math.floor(diff / (1000 * 60 * 60 * 24));
                            let hours = Math.floor(diff / (1000 * 60 * 60)) % 24;
                            let minutes = Math.floor(diff / (1000 * 60)) % 60;
                            let seconds = Math.floor(diff / 1000) % 60;
                            document.getElementById("<%= launch[i].slug %>").innerHTML = days;
                            document.getElementById("<%= launch[i].slug %>-<% launch[i].slug %>").innerHTML = hours;
                            document.getElementById("<%= launch[i].secondSlug %>").innerHTML = minutes;
                            document.getElementById("<%= launch[i].secondSlug %>-<%= launch[i].secondSlug %>").innerHTML = seconds;
                        }, 1000)
                    </script>
                </div>
    
            <% } %> 

        </div>

        <div class="right-side-main">
        <div class="right-side">
            <div class="right-side-flex-part">
                <h1 class="latest-news" style="margin: 15px 0;">Latest News</h1>
                <% for(let x=0; x<news.length; x++){ %> 
                    <div class="sidebar-news">
                        <div class="side-card">
                            <a href="https://github.com/emirhansevincc" target="_blank" class="news-text">
                                <div class="side-card-image">
                                <div style="background-color: gray;width: 100%;height: 170px;border-radius: 10px;" class="news-img"></div>
                                </div>
                                <p style="margin-top: 15px;text-align: center;margin-right: 5px;margin-left: 5px;"><%= news[x].description.substr(0, 200) + '...' %> </p>
                                <p style="margin-top: 15px;text-align: end;margin-right:5px;"><%= news[x].from %> </p>
                                <p style="margin-top: 6px;text-align: end;margin-right:5px;">
                                    <%= news[x].date.getFullYear() %>.
                                    <%= news[x].date.getMonth() %>.
                                    <%= news[x].date.getDate() %>
                                </p>
                            </a>
                        </div>
                    </div>
                <% } %> 
            </div>
        </div>
    </div>
    </div>
    </div>

    <%- include('partials/_footer.ejs') %>
    
</body>
</html>